/*font-family: 'Source Sans Pro', sans-serif;*/
* {
  box-sizing: border-box; }

body {
  min-width: 1000px;
  position: relative; }
  @media (max-width: 999px) {
    body {
      min-width: 100%; } }
  @media (max-width: 640px) {
    body {
      width: 640px; } }

.logo-resp {
  display: none;
  position: absolute;
  top: 22px;
  left: 30px; }
  @media (max-width: 749px) {
    .logo-resp {
      display: block; } }

.slicknav_menu {
  display: none;
  min-height: 89px;
  background-color: #fff; }
  .slicknav_menu a {
    background-color: #5094f2;
    margin: 0;
    margin-right: 26px;
    width: 58px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .slicknav_menu a.slicknav_open {
    margin-top: 20px; }
  .slicknav_menu .slicknav_menutxt {
    display: none; }
  .slicknav_menu .slicknav_icon {
    margin: 0;
    width: 2.125em;
    height: 1.25em; }
    .slicknav_menu .slicknav_icon .slicknav_icon-bar {
      width: 36px;
      height: 5px;
      box-shadow: none; }
  .slicknav_menu .slicknav_nav a {
    margin: 0;
    margin-right: 26px;
    background-color: #fff;
    color: grey; }
    .slicknav_menu .slicknav_nav a:hover {
      color: #5094f2; }
  @media (max-width: 749px) {
    .slicknav_menu {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center; } }

.header {
  width: 976px;
  height: 89px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header nav {
    align-self: flex-end; }
    .header nav ul {
      display: flex;
      margin-right: 14px; }
    .header nav li {
      font-family: "SegoeWPN", sans-serif;
      font-size: 20px;
      margin-left: 32px;
      padding-bottom: 19px;
      letter-spacing: .3px; }
    .header nav a {
      padding: 0 4px 13px 3px;
      color: #6c6c6c;
      text-decoration: none;
      border-bottom: 3px solid transparent; }
      .header nav a.active {
        border-bottom: 3px solid #5094f2; }
      .header nav a:hover {
        border-bottom: 3px solid #5094f2; }
  @media (max-width: 999px) {
    .header {
      width: 100%;
      justify-content: space-between; }
      .header .logo {
        margin-left: 20px; } }
  @media (max-width: 749px) {
    .header {
      display: none; } }

.slick-arrow {
  width: 25px;
  height: 63px; }

.slick-next {
  right: 90px; }
  .slick-next:before {
    content: "";
    width: 25px;
    height: 63px;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url(../img/slider-arrow-right.png);
    background-size: 25px 63px; }
  @media (max-width: 949px) {
    .slick-next:before {
      background-image: none; } }

.slick-prev {
  left: 90px;
  z-index: 1; }
  .slick-prev:before {
    content: "";
    width: 25px;
    height: 63px;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url(../img/slider-arrow-left.png);
    background-size: 25px 63px; }
  @media (max-width: 949px) {
    .slick-prev:before {
      background-image: none; } }

.slider-item {
  background: url(../img/slider-bg1.png);
  background-size: cover;
  min-height: 482px;
  position: relative; }
  .slider-item .items {
    width: 976px;
    height: 482px;
    padding-top: 27px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .slider-item .items img {
      margin: 1px 0 0 -15px; }
    .slider-item .items .slider-content {
      margin: -7px 50px 0 0; }
      .slider-item .items .slider-content h1 {
        font-size: 42px;
        line-height: 44px;
        color: #fff;
        font-family: "Segoe WP Light", sans-serif;
        margin-bottom: 8px; }
      .slider-item .items .slider-content p {
        font-size: 26px;
        line-height: 44px;
        color: #fff;
        font-family: "Segoe WP Light", sans-serif;
        margin-bottom: 29px; }
      .slider-item .items .slider-content a {
        margin-left: 11px;
        width: 172px;
        height: 41px;
        background-color: #5094f2;
        text-decoration: none;
        border-radius: 2px;
        text-align: center;
        font-size: 22px;
        line-height: 24px;
        color: #fff;
        font-family: "Segoe WP Light", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center; }
        .slider-item .items .slider-content a:hover {
          background-color: #d94748;
          transition: .2s; }
        .slider-item .items .slider-content a .button {
          position: relative;
          margin: -5px 0 0 35px; }
          .slider-item .items .slider-content a .button:before {
            content: "";
            width: 23px;
            height: 23px;
            left: -35px;
            top: 3px;
            position: absolute;
            background-image: url(../img/button-mark.png);
            background-size: 23px 23px; }
  @media (max-width: 949px) {
    .slider-item {
      width: 100%;
      min-height: 400px; }
      .slider-item .items {
        width: 100%;
        height: auto; }
        .slider-item .items img {
          height: 323px;
          margin: 1px 0 0 20px; } }
  @media (max-width: 749px) {
    .slider-item {
      width: 100%;
      min-height: 320px; }
      .slider-item .items {
        width: 100%;
        height: auto;
        padding-top: 22px; }
        .slider-item .items img {
          height: 283px;
          margin: 1px 0 0 20px; }
        .slider-item .items .slider-content {
          margin: -7px 20px 0 0; }
          .slider-item .items .slider-content h1 {
            font-size: 35px;
            line-height: 44px;
            color: #fff;
            font-family: "Segoe WP Light", sans-serif;
            margin-bottom: 8px; }
          .slider-item .items .slider-content p {
            font-size: 23px;
            line-height: 44px;
            color: #fff;
            font-family: "Segoe WP Light", sans-serif;
            margin-bottom: 29px; } }
  @media (max-width: 640px) {
    .slider-item {
      background-size: auto;
      min-height: 247px; }
      .slider-item .items {
        width: 100%;
        height: auto;
        padding-top: 22px; }
        .slider-item .items img {
          height: 223px;
          margin: 1px 0 0 20px; }
        .slider-item .items .slider-content {
          margin: -17px 50px 0 0; }
          .slider-item .items .slider-content a {
            margin-left: 0;
            width: 235px;
            height: 53px; }
          .slider-item .items .slider-content h1 {
            font-size: 31px;
            line-height: 30px;
            color: #fff;
            font-family: "Segoe WP Light", sans-serif; }
          .slider-item .items .slider-content p {
            font-size: 23px;
            line-height: 34px;
            color: #fff;
            font-family: "Segoe WP Light", sans-serif;
            margin-bottom: 30px; }
          .slider-item .items .slider-content a {
            font-size: 31px;
            line-height: 24px;
            color: #fff;
            font-family: "Segoe WP Light", sans-serif; }
            .slider-item .items .slider-content a .button {
              position: relative;
              margin: -5px 0 0 35px; }
              .slider-item .items .slider-content a .button:before {
                content: "";
                width: 33px;
                height: 33px;
                left: -42px;
                top: -2px;
                position: absolute;
                background-image: url(../img/button-mark-resp.png);
                background-size: 33px 33px; } }

.piramidas {
  background-image: url(../img/piramidas.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 8px;
  position: relative;
  margin-top: -8px; }
  @media (max-width: 749px) {
    .piramidas {
      display: none; } }

.contrary-list {
  width: 976px;
  padding-top: 65px;
  margin: auto auto 86px auto; }
  .contrary-list ul {
    display: flex;
    justify-content: space-between; }
    .contrary-list ul li {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 255px; }
      .contrary-list ul li .contrary-text {
        text-align: center; }
      .contrary-list ul li .icon-contrary-img1 {
        width: 186px;
        height: 186px;
        background-color: #5094f2;
        font-size: 108px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-bottom: 22px; }
      .contrary-list ul li .icon-contrary-img2 {
        width: 186px;
        height: 186px;
        background-color: #d94748;
        font-size: 81px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-bottom: 22px; }
      .contrary-list ul li .icon-contrary-img3 {
        width: 186px;
        height: 186px;
        background-color: #ebbb11;
        font-size: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-bottom: 22px; }
      .contrary-list ul li a {
        text-decoration: none;
        font-size: 20px;
        line-height: 26px;
        color: #5094f2;
        font-family: "SegoeWPN", sans-serif; }
      .contrary-list ul li p {
        text-align: center;
        margin-top: 7px;
        font-size: 14px;
        line-height: 16px;
        color: #909090;
        font-family: "SegoeWPN", sans-serif; }
  @media (max-width: 1014px) {
    .contrary-list {
      width: 100%; }
      .contrary-list ul {
        justify-content: space-around;
        flex-wrap: wrap; }
        .contrary-list ul li:not(:last-child) {
          margin-right: 40px;
          margin-bottom: 30px; } }
      @media (max-width: 1014px) and (max-width: 640px) {
        .contrary-list ul li:not(:last-child) {
          margin: 0; } }
  @media (max-width: 640px) {
    .contrary-list {
      padding-top: 6px;
      margin: auto auto 48px auto; }
      .contrary-list ul {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center; }
        .contrary-list ul li {
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 188px;
          border-bottom: 1px solid #cccccc; }
          .contrary-list ul li .contrary-text {
            text-align: left; }
          .contrary-list ul li .icon-contrary-img1 {
            width: 137px;
            height: 137px;
            background-color: #5094f2;
            font-size: 79px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-bottom: 22px;
            margin: 25px 23px 0 -25px; }
          .contrary-list ul li .icon-contrary-img2 {
            width: 137px;
            height: 137px;
            background-color: #d94748;
            font-size: 61px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-bottom: 22px;
            margin: 15px 23px 0 -25px; }
          .contrary-list ul li .icon-contrary-img3 {
            width: 137px;
            height: 137px;
            background-color: #ebbb11;
            font-size: 71px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-bottom: 22px;
            margin: 10px 23px 0 -25px; }
          .contrary-list ul li a {
            font-size: 34px;
            line-height: 60px;
            color: #5094f2;
            font-family: "SegoeWPN", sans-serif; }
          .contrary-list ul li p {
            text-align: left;
            width: 360px;
            margin-top: 0;
            font-size: 19px;
            line-height: 16px;
            color: #909090;
            font-family: "SegoeWPN", sans-serif; } }

.shopping-cart {
  width: 976px;
  margin: auto auto 50px auto; }
  .shopping-cart h2 {
    font-size: 42px;
    line-height: 44px;
    color: #6f7173;
    font-family: "SegoeWPN", sans-serif;
    margin-left: 31px; }
  .shopping-cart .cart-content {
    display: flex;
    justify-content: space-between; }
    .shopping-cart .cart-content img {
      margin: 38px 0 0 22px; }
    .shopping-cart .cart-content h3 {
      margin: 6px 0 11px 0;
      font-size: 26px;
      line-height: 44px;
      color: #6f7173;
      font-family: "SegoeWPN", sans-serif; }
    .shopping-cart .cart-content p {
      font-size: 15px;
      line-height: 36px;
      color: #909090;
      font-family: "Segoe WP Light", sans-serif;
      margin-right: 50px;
      letter-spacing: .1px; }
  @media (max-width: 999px) {
    .shopping-cart {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .shopping-cart .cart-content {
        justify-content: center;
        align-items: center; }
        .shopping-cart .cart-content img {
          margin-top: 38px;
          margin-right: 30px;
          width: 305px; }
        .shopping-cart .cart-content p {
          margin-right: 0; } }
  @media (max-width: 849px) {
    .shopping-cart .cart-content {
      flex-direction: column;
      justify-content: center; } }
  @media (max-width: 640px) {
    .shopping-cart {
      margin-left: 0; }
      .shopping-cart .cart-content img {
        margin-top: 38px;
        width: 205px; }
      .shopping-cart .cart-content h3 {
        margin: 16px 0 11px 0;
        font-size: 34px;
        line-height: 44px;
        color: #6f7173;
        font-family: "SegoeWPN", sans-serif; }
      .shopping-cart .cart-content p {
        font-size: 17px;
        line-height: 36px;
        color: #909090;
        font-family: "Segoe WP Light", sans-serif;
        margin-right: 0;
        letter-spacing: .1px; } }

.footer {
  min-height: 94px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer a {
    font-size: 15px;
    line-height: 36px;
    color: #909090;
    font-family: "Segoe WP Light", sans-serif;
    text-decoration: none; }
