$dark: #1d2126;
$secondary: #a4aead;
$btn-border-width: 2px;
$input-btn-padding-y: 0.125rem;
$input-btn-padding-x: 0.4375rem;
$input-btn-font-family: 'Open Sans', sans-serif;
$input-btn-focus-color: none;
$nav-link-height: 0;
$navbar-padding-y: 0;
$navbar-padding-x: 0;
$navbar-brand-font-size: 0;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
);
$input-btn-focus-color:  transparent;
$h1-font-size: 2.25rem;
$headings-font-family: 'Quattrocento Sans', sans-serif;
$card-border-width: none;
$card-spacer-x: .5rem;
$card-spacer-y:  0rem;
$h2-font-size: 1.0625rem;
$link-color: #8d8f92;
$link-hover-color: #8d8f92;
$link-hover-decoration: none;