@media(max-width: 1230px){
	.footer-wrapper .footer,
	.clients-wrapper .clients,
	.portfolio {
		width: 100%;
	}

	.portfolio .portfolio-imgs {
		padding: 0 15px;
		justify-content: center;
	}

	.portfolio-imgs li {
		margin-right: 20px;
	}

	.footer-wrapper .footer .socials {
		margin-right: 18px;
	}
}

@media(max-width: 1175px){
	.header-wrapper .header,
	.about-us {
		width: 100%;
	}
}

@media(max-width: 990px){
	.header-wrapper .header {
		min-height: 80px;
	}
	.header-wrapper .header a {
		font-size: 12px;
	}

	.contact-us {
		width: 100%;
		padding: 0 20px;
		padding-top: 112px;
	}
	.au-list {
		flex-wrap: wrap;
		justify-content: center;
	}
	.au-list li .title {
		margin-right: 50px;
	}
	.au-list li a {
		margin-bottom: 50px;
	}
}

@media(max-width: 835px){
	.clients-list {
		flex-wrap: wrap;
	}

	.clients-list li {
		margin: 0 30px;
		margin-bottom: 40px;
	}

	.clients-list li:last-child {
		margin-right: 15px;
	}
	
	.blank-space {
		min-height: 200px;
	}

	.blank-space p {
		font-size: 10px;
	}

	.blank-space p span {
		font-size: 15px;
	}

	.slicknav_menu {
    display: block;
    background: #89898b;
  }

  .slicknav_nav a{
    color: #fff;
  }

  .nav-wrapper{
    display: none;
  }

  .header nav {
  	display: none;
  }

  .header {
  	justify-content: center;
  }

	.home .img-moon{
		width: 59px;
		height: 58px;
		margin-bottom: 32px;
	}

	.home p {
		font-size: 14px;
		margin-bottom: 24px;
	}

	.home h1 {
		font-size: 24px;
		margin-bottom: 57px;
		word-spacing: 3px;
	}

	.home .explore {
		width: 132px;
		height: 55px;
		font-size: 14px;
		margin-bottom: 35px;
	}

	.arr-down {
		width: 30px;
		height: 15px;
	}

	.about-us {
		padding-top: 40px;
		min-height: 497px;
	}

	.number {
		font-size: 20px;
	}

	.about-us h4 {
		margin-bottom: 50px;
		font-size: 14px;
	}

	.au-list li a {	
		margin-top: -20px;
		width: 230px;
		font-size: 14px;
	}

	h2 {
		margin-bottom: 27px;
		font-size: 22px;
	}

	h3 {
		margin-bottom: 60px;
	}

	.portfolio {
		padding-top: 40px;
	}

	.portfolio h3 {
		margin-bottom: 60px;
	}
	.portfolio p {
		color: #ffe600;
		margin-bottom: 26px;
	}

	.portfolio a img {
		margin-bottom: 53px;
	}

	.clients-wrapper {
		padding-top: 40px;
		min-height: 301px;
	}

	.clients h3 {
		margin-bottom: 60px;
	}

	.contact-us {
		padding-top: 40px;
	}

	.contact-us h3 {
		margin-bottom: 60px;
	}
	input[type="submit"]{
		margin-bottom: 50px;
	}
}

@media(max-width: 650px){


	.portfolio-imgs {
		justify-content: center;
	}

	.portfolio-imgs li {
		width: 200px;
		height: 150px;
	}

	.portfolio-imgs li span {
		margin-top: 48px;
	}

	.footer {
		flex-direction: column-reverse;
		justify-content: space-around;
	}
}